.app {
    width: 95%;
    margin: 0 auto;
}

.delete-meal,
.edit-meal,
.move-meal-left,
.move-meal-right {
    font-size: 15px !important;
    display: block;
    float: right;
    color: #b1b1b1;
    cursor: pointer;
}

#login-buttons a {
    color: #fff;
    text-decoration: none;
}

.login-close-text, #signup-link {
    color: #009688 !important;
}